[submodule "thirdparty/QyLog"]
	path = thirdparty/QyLog
	url = https://github.com/XiL1-Yue/QyLog.git
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/HuskarUI"]
	path = thirdparty/HuskarUI
	url = https://github.com/mengps/HuskarUI.git
[submodule "thirdparty/QAutoStart"]
	path = thirdparty/QAutoStart
	url = https://github.com/MrEricSir/QAutoStart.git
